<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head th:replace="layout/layout :: head"></head>
<body>
<header th:replace="layout/layout :: header"></header>

<div class="container py-4">
    <div class="card bg-light">
        <div class="card-header" th:text="${titulo}"></div>

        <div class="card-body">
            <h5 sec:authorize="!isAuthenticated()"><span th:utext="#{texto.homePage.noLogeado}"></span></h5>

            <h5 sec:authorize="isAuthenticated()"><span th:utext="#{texto.homePage.logeado}"></span></h5>
            <div style="text-align: center" class="container py-3">
                <a href="http://www.abrildetectives.com"><img th:src="@{/images/abril-detectives-cibereye.jpg}" alt="Abril logo" width="55%" height="55%"/></a>
            </div>


        </div>
    </div>

    <footer th:replace="layout/layout :: footer"></footer>
</div>
</body>
</html>