<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="layout/layout :: head"></head>
<body>

	<header th:replace="layout/layout :: header"></header>

	<div id="i18n_eliminar_factura" th:text="#{texto.cliente.factura.eliminarOk}" style="display: none;"></div>

	<div class="container py-4">

		<div class="card bg-light">
			<div class="card-header" th:text="${titulo}"></div>
			<div class="card-body">

				<h4 class="card-title">
					<a sec:authorize="hasRole('ROLE_ADMIN')" class="btn btn-success bn-xs" th:href="@{'/factura/form/' + ${cliente.id}}" th:text="#{texto.cliente.factura.crear}"></a>
				</h4>


				<ul class="list-group">
					<li class="list-group-item active" th:text="${cliente.nombre}"></li>
					<li class="list-group-item" th:text="${cliente.apellido}"></li>
					<li class="list-group-item" th:text="${cliente.email}"></li>
					<li class="list-group-item" th:text="${cliente.telefono}"></li>
				</ul>

                <div th:if="${#lists.isEmpty(cliente.facturas)}" class="alert alert-info my-4" th:text="'No hay facturas asignadas para el cliente ' + ${cliente.nombre} + ' ' + ${cliente.apellido}"></div>

				<table th:if="${not #lists.isEmpty(cliente.facturas)}" class="table table-bordered table-striped my-4">
					<thead class="thead-dark">
                        <tr>
                            <th th:text="#{texto.cliente.factura.folio}">Número factura</th>
                            <th th:text="#{texto.cliente.factura.descripcion}">Descripción</th>
                            <th th:text="#{texto.cliente.factura.fecha}">Fecha</th>
                            <th th:text="#{texto.cliente.factura.total}">Total</th>
							<th sec:authorize="hasRole('ROLE_ADMIN')" th:text="#{texto.factura.form.ver}">Ver</th>
							<th sec:authorize="hasRole('ROLE_ADMIN')" th:text="#{texto.factura.form.item.eliminar}">Eliminar</th>
                        </tr>
					</thead>
                    <tbody>
                        <tr th:each="factura : ${cliente.facturas}">
                            <td th:text="${factura.id}"></td>
                            <td th:text="${factura.descripcion}"></td>
                            <td th:text="${factura.createAt}"></td>
                            <td th:text="${factura.total}"></td>
							<td sec:authorize="hasRole('ROLE_ADMIN')"><a class="btn btn-primary bn-xs" th:href="@{'/factura/ver/' + ${factura.id}}" th:text="#{texto.cliente.factura.detalle}"></a> </td>
							<td sec:authorize="hasRole('ROLE_ADMIN')"><a class="btn btn-danger bn-xs" th:href="@{'/factura/eliminar/' + ${factura.id}}" th:text="#{texto.cliente.factura.eliminar}"
								onclick="return confirm(document.getElementById('i18n_eliminar_factura').innerHTML);"></a> </td>
                        </tr>
                    </tbody>
				</table>

				<div th:if="${cliente.informe == null || #strings.length(cliente.informe) < 1}" class="alert alert-info my-4" th:text="'No hay informes asignados para el cliente ' + ${cliente.nombre} + ' ' + ${cliente.apellido}"></div>

				<table th:if="${cliente.informe != null && #strings.length(cliente.informe) > 1}" class="table table-bordered table-striped my-4">
					<thead class="thead-dark">
					<tr>
						<th>Informe</th>
						<th sec:authorize="hasRole('ROLE_ADMIN')">Eliminar</th>
					</tr>
					</thead>
					<tbody>
						<th>
							<!--TODO Poder eliminar los archivos subidos-->
							<a th:href="'/uploads/' + ${cliente.informe}" th:text="${#strings.arraySplit(cliente.informe, '_')[1]}"></a>
						<td sec:authorize="hasRole('ROLE_ADMIN')"><a class="btn btn-danger bn-xs" th:text="'Eliminar informe'" th:href="@{'/eliminarInforme/' + ${cliente.id}}"
																	 onclick="return confirm('¿Está seguro que desea eliminar el informe?');"></a> </td>
						</th>
					</tbody>
				</table>
			</div>
		</div>

	</div>

	<footer th:replace="layout/layout :: footer"></footer>
</body>
</html>